<style>



    html, body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    #intro {
        padding-top: 15%;
        flex-shrink: 0;
        height: 85vh;
        background-image: url("../css3.png")
        background-position: center;
        background-size: cover;

    }

    .navbar {
        background-color: #F67280;
    }

    .navbar-brand {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    #navbar_main {
        background-color: #C06C84;
    }



</style>
